<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/issue.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
    <include file="Public/_nav"/>
</block>
<block name="body">
    <div style="position: relative">
    <if condition="$display_type eq 'masonry'">
        <div class="display_type">
            <a href="{:U('Issue/Index/index',array('issue_id'=>$_GET['issue_id'],'display_type'=>'list'))}" title="列表展示"><i class="icon-th"></i></a>
            <a class="current" title="瀑布流展示"><i class="icon-align-justify"></i></a>
        </div>
        <else/>
        <div class="display_type">
            <a class="current" title="列表展示"><i class="icon-th"></i></a>
            <a href="{:U('Issue/Index/index',array('issue_id'=>$_GET['issue_id'],'display_type'=>'masonry'))}" title="瀑布流展示"><i class="icon-align-justify"></i></a>
        </div>
    </if>	


        <if condition="count($contents) eq 0">
            <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">此分类下暂无内容哦。O(∩_∩)O~</div>
        </if>
    <div>
        <div class="pull-right">

            {:getPagination($totalPageCount,16)}
        </div>
    </div>

    <include file="_box"/>
    </div>
</block>
<block name="script">
    <if condition="$display_type eq 'masonry'">
        <script src="__JS__/masonry/jquery.masonry.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.issue_list').masonry({
                    itemSelector: '.item_inner',
                    gutterWidth: 20,
                    columnWidth: 255,
                    isFitWidth: true
                });
            });
        </script>
    </if>
</block>

