

    <!-- 数据表格 -->
    <div class="with-padding">
	   <h2>报名儿童信息</h2>
        <table class="table table-bordered table-striped ">
            <!-- 表头 -->
			
            <thead>
            <tr>
                <th class="row-selected row-selected">
                    
                </th>
                <volist name="keyList" id="field">
                    <th>{$field.title|htmlspecialchars}</th>
                </volist>
            </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
           	<form name="frm"> 
            <volist name="list" id="e">
                <tr>
                    <td><input class="ids" type="radio" value="{$e['id']}" name="ids" onclick="choseids();"> </td>
                    <volist name="keyList" id="field">
                        <td>{$e[$field['name']]}</td>
                    </volist>
                </tr>
            </volist>
			
            </tbody>
        </table>
    </div>

    <!-- 分页 -->
	
    <div class="with-padding">
        {$pagination}
    </div>
    </div>
	
<block name="body">
    <script type="text/javascript" src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script> 
				function choseids() 
				{ 
				var v=""; 
				var check_ids = document.frm.ids; 
				/*alert(check_ids.value);*/
				v =check_ids.value; 
				document.frm.txt.value=v; 
				} 
				function foo() 
				{ 
				window .close(); 
				window .opener.document.getElementById("{:S('inputid')}").value=document.getElementById("txt").value 
				} 
	</script> 
    <script type="text/javascript">
//        //搜索功能
//        $("#search").click(function () {
//            var url = $(this).attr('url');
//            var query = $('.search-form').find('input').serialize();
//            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
//            query = query.replace(/^&/g, '');
//            if (url.indexOf('?') > 0) {
//                url += '&' + query;
//            } else {
//                url += '?' + query;
//            }
//            window.location.href = url;
//        });
        //回车搜索
//        $(".search-input").keyup(function (e) {
//            if (e.keyCode === 13) {
//                $("#search").click();
//                return false;
//            }
//        });
        function toggle_search(){
            $('#search_form').toggle('slide');
        }


        $(document).on('submit', '.form-dont-clear-url-param', function(e){
            e.preventDefault();

            var seperator = "&";
            var form = $(this).serialize();
            var action = $(this).attr('action');
            if(action == ''){
                action = location.href;
            }
            var new_location = action + seperator + form;

            location.href = new_location;

            return false;
        });


    </script>


    <script>
        $(function(){
            $('.tox-confirm').click(function(e){
                var text = $(this).attr('data-confirm');
                var result = confirm(text);
                if(result) {
                    return true;
                } else {
                    e.stopImmediatePropagation();
                    e.stopPropagation();
                    e.preventDefault();
                    return false;
                }
            })
        });


        $(document).ready(function () {

            $('.popup-gallery').each(function () { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    tLoading: '正在载入 #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 1] // Will preload 0 - before current, and 1 after the current image

                    },
                    image: {
                        tError: '<a href="%url%">图片 #%curr%</a> 无法被载入.',
                        titleSrc: function (item) {
                            /*           return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';*/
                            return '';
                        },
                        verticalFit: true
                    }
                });
            });
        });
    </script>
    <script type="text/javascript" src="__PUBLIC__/Core/js/ext/magnific/jquery.magnific-popup.min.js"></script>
</block>