<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="MobileOptimized" content="320" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="Content-Language" content="zh-CN"/>

	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?e709036b226f8b9989b21244859381db";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>

<script type="text/javascript">
</script>



<script type="text/javascript">
var windowType = "mobile";
</script>
<script href="__JS__/wx/zepto.min.js" ></script>
<script href="__JS__/wx/zjweixin-1.0.0.js" ></script>

    <title>用户登录</title>
	<link href="__JS__/wx/style.css" rel="stylesheet"/>
  </head>
<body style="background-color: #fff;">
<div class="wrapper" id="wrapper">
    <div class="content activity singlepage">
        <div id="infoBox">
            <div id="info">
                <div id="tnnd">
                    <div class="tbody">
                        <div class="activity details">
                            <div class="dl">

                                <div class="end">
                                    <a href="{:U('mob/issue/index')}"><img src=""/> </a>
                                </div>

                            </div>
                            <div class="Choice">

                                <div class="log">
                                 <div style="height: 65%;position:relative;text-align: -webkit-center;">
							  <h1 style="color:rgb(244, 119, 237);; vertical-align:middle;  FONT-SIZE: -webkit-xxx-large; ">{:modC('WEBSITE_NAME','OpenSNS','Mob')}</h1>
							<p>{:modC('SUMMARY','')}</p>
									<img src="" style="width: 80%;position: absolute;left:13%; bottom: 20%;" />
									</div>
                                </div>

                            </div>

                            
                                
                                
                                    <div class="Choice_d">

                                        <div class="trip">

                                            <a href="{:U('/mob/Member/login_index')}" class="d_dl">手机登录</a>
											<a href="{:U('/mob/Member/register')}" class="d_reg">手机注册</a>

                                        </div>
                                        <div class="trip">

                                            <a href="{:U('/home/addons/execute/_addons/sync_login/_controller/base/_action/login/type/weixin')}" class="wx"><img
                                                    src="__JS__/wx/wx.png"/>微信登录</a>

                                        </div>

                                    </div>
                                
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--script type="text/javascript" src="http://static.dingdangpai.com/static/js/lib/wx-share.js?v=v3.1.2"></script-->
</html>
